body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }

  header{
      text-align: center;
  }

  table {
      border: 1px solid black;
  }

  h1 {
    text-align: left;
    color: #10b9b9a9;
  }

  ul {
    list-style-type: disc;
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  h2 {
    color: #666;
  }

  .right_table 
  {
    float: right;
  }

  .tabla-container {
    display: flex;
    justify-content: space-between;
  }

  .tabla-container table {
    margin: 0;
  }