.menu-item > a {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #4caf4fc8;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
  cursor: pointer;
  overflow-y:auto;
}
.menu-item {
  border: none;
  text-decoration: none;
}
.menu-item:hover {
  background-color: #1d6a21d1;
}
.menu {
  background-color: #120f0f6e;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px; /* Ocultar el panel al principio */
  transition: left 0.3s ease;
  padding: 20px;
}
